
.menu li,
.menu li:hover,
.menu li:active { margin:0;  padding:0; width:160px; }
.sub_menu{margin:0; border:1px solid gray;   background-color:#C0C0C0 ; z-index:1  }
.sub_menu li{ margin: 0; padding: 0; border: 1px solid gray; background-color: #C0C0C0; _background-image: url('../images/slices/navgradient.png'); background-repeat: repeat-x; background-position: bottom; }
.sub_menu a,  
.sub_menu a:hover,  
.sub_menu a:active  {font-size:100%; color:Black; text-align:left;  }
ul.dropdown { position: relative; }
ul.dropdown li { float: left; zoom: 1; }
ul.dropdown li a { display: block; padding:0 0 13px 0 }
ul.dropdown li:last-child a { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover { position: relative;  }
/* LEVEL TWO */
ul.dropdown ul { width:auto; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li { float: none; }
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a { border-right: none; width: 100%; display: inline-block; padding:1px }
 
/* LEVEL THREE */
ul.dropdown ul ul { left: 100%; top: 0; }
ul.dropdown li:hover > ul { visibility: visible; }
